
/Package Control.system-ca-bundle
/Package Control.last-run
/Package Control.user-ca-bundle
/Package Control.cache

/PackagesManager.system-ca-bundle
/PackagesManager.last-run
/PackagesManager.merged-ca-bundle
/PackagesManager.user-ca-bundle
/PackagesManager.cache

/OverrideAudit.status
/JS Custom/Syntaxes

/ColorHighlighter
/Color Highlighter

/SublimeLinter
/Gist.sublime-settings
/Terminal.sublime-settings
/SBSCompare.tmTheme
/.SublimeREPLHistory/*


/FileHistory*.json
/TextPastryHistory.sublime-settings
/encoding_cache.json
/LockTab.sublime-settings
/SublimeNumberKing.sublime-settings
*.crt

/ANSIescape
/UnitTesting

/Javatar
/Javatar.sublime-settings
*.javatar-packages

/SBSCompareScheme.hidden-color-scheme
/SBSCompareTheme.hidden-tmTheme
/RememberCommandPaletteInput.inputs
/QuickSettings.inputs
